.fetch-more {
  margin: 10px auto;
  display: inline-block;
  background: $primary-color;
  color: #fff;
  padding: 5px 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}