.page__subtitle {
  font-size: 24px;
  font-weight: bold;
  text-decoration: underline;
  color: $dark-gray;
  text-indent: 25px;
}

.page {
  padding: 10px;
}

.page__actions {
  text-align: center;
}